/* Jeremy Coulombe et Lydia Charchar*/
	*{
		box-sizing: border-box;   
	}      

html{
	background-color: #FFFFFF; 
	background-image: url("surffff.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	background-color: #79C1FF;
	/*background-image: url("vagues.jpg");
	background-repeat: no-repeat;*/
}

.imgProduit{
	float: left;
}

.imgProduit figcaption{
	text-align: center;
}
.corps{
	background-color: #C5E3FB;
	opacity: 0.85;
	width: 90%;
	margin: auto;
	min-height: 100vh;
}
.colonne{
	/*float: left;
	width: 10%;*/
	background-color: #0044AA;
	/*min-height: 100vh;*/
	padding: 2%;
}

.contenu{
	width: 90%;
	/*float: right;*/
	/*background-color: #0ca4ff;*/
	padding-left: 1%;
	background-color: #C5E3FB;
}

#bouton{
	margin-left: 4.45%;
}

#mainProduit h3,h4{
	display: block;
	clear: both;
}

#planche1,#planche2{
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

#vente{
	margin-top: 10%;
}

#surfeur{
	display: block;
	margin: auto;
}

.colonne ul{
	list-style-type: none; 
	/*margin-top: 45%;*/
	display: inline;

}

.colonne a{
	text-decoration:none;
}

.colonne li{
	display: inline;
	text-align: center;
	border: 2px solid black;
	margin-right: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 0.80%;
	background-color: #FFFFFF;
}



