/* Jeremy Coulombe et Lydia Charchar*/
	*{
		box-sizing: border-box;   
	}      

html{
	background-color: #FFFFFF; 
	font-family:  Verdana, Arial,sans-serif;
	/*background-image: url("plage.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
}

h1{
	background-color: #79C1FF;
	/*background-image: url("vagues.jpg");
	background-repeat: no-repeat;*/
}

#copyright{
	font-size: 0.8em ;
}

.contenu h2{
	margin-top: 0;
}


.imgProduit figcaption{
	text-align: center;
}
.contenu{
	background-color: #C5E3FB;
	opacity: 0.9;
	min-height: 100vh;
}
.colonne{
	/*float: left;
	width: 10%;*/
	background-color: #0044AA;
	/*min-height: 100vh;*/
	padding: 2%;
	margin-bottom: 0;
}

.contenu{
	/*width: 90%;*/
	/*float: right;*/
	/*background-color: #0ca4ff;*/
	padding-left: 1%;
	background-color: #C5E3FB;
}

#bouton{
	margin-left: 4.45%;
}

#mainProduit h3,h4{
	display: block;
	clear: both;
}

#planche1,#planche2{
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

#vente{
	margin-top: 10%;
}

#surfeur{
	display: block;
	margin: auto;
}


.contenu table,th,td{
	text-align: left;
	padding: 2%;
	/*padding-right: 5%;*/
	border-style: solid;
	border-color: black;
	border-collapse: collapse; 
}
.contenu table{
	margin: auto;
}

footer{
	background-color: #79C1FF;
	opacity: .9;
}

@media only screen and (min-width: 1025px) {
	html{
		/*  code vient de https://stackoverflow.com/questions/21036880/how-to-set-the-background-image-fit-to-browser-using-html*/
		background-image: url("plage.jpg");
		/*height: 100%;*/
		/*min-height: 100vh;
		width: 100%;
		height: auto;
		position: fixed;*/
		/*background-position: center;*/
		background-position: top center; 
		/*position: fixed;*/
		background-repeat: no-repeat;
		background-size: cover; 
		background-attachment: fixed;
	}
	.contenuFooter{
		display: flex;
		flex-direction: row;
		/*margin: auto;*/
	}

	.contenu,.colonne,h1{
		/*width: 87%;*/

	}

	.contenu{
		flex: 7;
	}
	
	footer{
		/*float: right;
		width: 10%;*/
		
		flex: 2;
		padding-left: 1.5%;
		/*display: inline;*/

	}

	footer ul{
		list-style-type: none; 
		padding-left: 0%;
	}
	h1{
		margin-bottom: 0;
	}
	/*
	.contenu,.colonne{
		width: 90%;
	}*/
	.colonne ul{
		list-style-type: none; 
		/*margin-top: 45%;*/
		display: inline;

	}

	.colonne a{
		text-decoration:none;
	}

	.colonne li{
		display: inline;
		text-align: center;
		border: 2px solid black;
		margin-right: 2%;
		margin-top: 1%;
		margin-bottom: 1%;
		padding: 0.80%;
		background-color: #FFFFFF;
	}
	.imgProduit{
		float: left;
	}

	#contact{
		display: flex;
		flex-direction: column;
	}


}

@media only screen and (min-width: 769px)  and (max-width: 1024px){ 
	html{
		/*  code vient de https://stackoverflow.com/questions/21036880/how-to-set-the-background-image-fit-to-browser-using-html*/
		background-image: url("plage.jpg");
		/*height: 100%;*/
		/*min-height: 100vh;
		width: 100%;
		height: auto;
		position: fixed;*/
		/*background-position: center;*/
		background-position: top center; 
		/*position: fixed;*/
		background-repeat: no-repeat;
		background-size: cover; 
		background-attachment: fixed;
	}

	h1,.contenu,.colonne{
	width: 97%;
	margin: auto;
	}
	.colonne ul{
		list-style-type: none; 
		/*margin-top: 45%;*/
		display: inline;

	}

	.colonne a{
		text-decoration:none;
	}

	.colonne li{
		display: inline;
		text-align: center;
		border: 2px solid black;
		margin-right: 2%;
		margin-top: 1%;
		margin-bottom: 1%;
		padding: 0.80%;
		background-color: #FFFFFF;
	}
	.imgProduit{
		float: left;
	}
	img{
		max-width: 100%;
	}

	.contenu{
		margin-bottom: 0;
	}
	footer{
		margin-top: 0;
	}

	footer ul{
		list-style-type: none; 
		padding-left: 0%;
	}
	#copyright{
		text-align: center;
	}
	#contact{
		display: flex;
		flex-direction: row;
	}

	.ligne{
		display: none;
	}

	.element{
		margin-right: 2%;
		margin-left: 2%;
	}

}

@media only screen and (max-width: 768px){
	h1,.contenu,.colonne{
		width: 97%;
		margin: auto;
	}

	.colonne ul{
		list-style-type: none; 
		/*margin-top: 45%;*/
		display: inline;

	}

	.colonne a{
		text-decoration:none;
	}

	.colonne li{
		display: block;
		text-align: center;
		border: 2px solid black;
		margin-right: 2%;
		margin-top: 1%;
		margin-bottom: 1%;
		padding: 0.80%;
		background-color: #FFFFFF;
	}

	
	img{
		max-width: 100%;
	}

	.contenu{
		margin-bottom: 0;
	}
	footer{
		margin-top: 0;
	}

	#surfeur{
		display: none;
	}

	footer ul{
		list-style-type: none; 
		padding-left: 0%;
	}
	#copyright{
		text-align: center;
	}
	#contact{
		display: flex;
		flex-direction: column;
	}

	.ligne{
		display: none;
	}

	.email{
		margin-top: 2%;
		margin-bottom: 2%;
	}




}


